/* TREX2 (basic) skin for the theme
------------------------------------------------------------------------- */

/* TABLE OF CONTENTS:

1. Theme typography
2. Theme Accent Colors
   2.1 Common colors
3. Form fields settings
7. Section's decorations
   7.1 User and main menu
   7.2 Slider
   7.3 Top panel: Page title and breadcrumbs
   7.4 Main content wrapper
   7.5 Post Formats
   7.6 Post Layouts
   7.7 Paginations
8. Single page parts
   8.1 Attachment and Portfolio post navigation
   8.2 Reviews block
   8.3 Post author
   8.4 Comments
   8.5 Page 404
9. Sidebars
10. Footer areas
11. Utils
12. Registration and Login popups
13. Third party plugins
14. Predefined classes for users
15. Shortcodes

-------------------------------------------------------------- */




/* 1. Theme typography
-------------------------------------------------------------- */
body {
	.p_font();
}

.body_wrap {
	.scheme_color(text);
}

h1 { .h1_font(); .h1_margins(); }
h2 { .h2_font(); .h2_margins(); }
h3 { .h3_font(); .h3_margins(); }
h4 { .h4_font(); .h4_margins(); }
h5 { .h5_font(); .h5_margins(); }
h6 { .h6_font(); .h6_margins(); }


/* Normal state */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	.scheme_color(inverse_dark);
}
a {
	.link_font();
	.scheme_color(accent1);
}
a:hover {
	.scheme_color(accent1_hover);
}
/* ------------------------------------------- */
blockquote{
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}
blockquote::before {
	.scheme_color(inverse_text, 0.1);
}
blockquote > a,
blockquote > p > a,
blockquote cite{
	.scheme_color(inverse_light);
}
.sc_quote{
	.scheme_bg_color(accent1);
}
.sc_quote .sc_quote_title{
	.scheme_color(text_dark);
}
/* ------------------------------------------- */

del{
	.scheme_color(accent1);
}

/* 2. Theme Accent Colors
------------------------------------------------------------------------- */

/* Accent1 color - use it as background and border with next classes */
.accent1 {			.scheme_color(accent1); }
.accent1_bgc {		.scheme_bg_color(accent1); }
.accent1_bg {		.scheme_bg(accent1); }
.accent1_border {	.scheme_bd_color(accent1); }

a.accent1:hover {	.scheme_color(accent1_hover); }


/* 2.1 Common colors
-------------------------------------------------------------- */

/* Portfolio hovers */
.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect3.colored .info,
.post_content.ih-item.circle.effect4.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect6.colored .info,
.post_content.ih-item.circle.effect7.colored .info,
.post_content.ih-item.circle.effect8.colored .info,
.post_content.ih-item.circle.effect9.colored .info,
.post_content.ih-item.circle.effect10.colored .info,
.post_content.ih-item.circle.effect11.colored .info,
.post_content.ih-item.circle.effect12.colored .info,
.post_content.ih-item.circle.effect13.colored .info,
.post_content.ih-item.circle.effect14.colored .info,
.post_content.ih-item.circle.effect15.colored .info,
.post_content.ih-item.circle.effect16.colored .info,
.post_content.ih-item.circle.effect18.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect1.colored .info,
.post_content.ih-item.square.effect2.colored .info,
.post_content.ih-item.square.effect3.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect5.colored .info,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect8.colored .info,
.post_content.ih-item.square.effect9.colored .info .info-back,
.post_content.ih-item.square.effect10.colored .info,
.post_content.ih-item.square.effect11.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect14.colored .info,
.post_content.ih-item.square.effect15.colored .info,
.post_content.ih-item.circle.effect20.colored .info .info-back,
.post_content.ih-item.square.effect_book.colored .info {
	.scheme_bg(accent1);
	.scheme_color(inverse_text);
}

.post_content.ih-item.circle.effect1.colored .info,
.post_content.ih-item.circle.effect2.colored .info,
.post_content.ih-item.circle.effect5.colored .info .info-back,
.post_content.ih-item.circle.effect19.colored .info,
.post_content.ih-item.square.effect4.colored .mask1,
.post_content.ih-item.square.effect4.colored .mask2,
.post_content.ih-item.square.effect6.colored .info,
.post_content.ih-item.square.effect7.colored .info,
.post_content.ih-item.square.effect12.colored .info,
.post_content.ih-item.square.effect13.colored .info,
.post_content.ih-item.square.effect_more.colored .info,
.post_content.ih-item.square.effect_fade.colored:hover .info,
.post_content.ih-item.square.effect_dir.colored .info,
.post_content.ih-item.square.effect_shift.colored .info {
	.scheme_bg(accent1);
	.scheme_color(inverse_text);
}
/*
.post_content.ih-item.square.effect_fade.colored .info {
	.scheme_color(inverse_text);
	.scheme_gradient(accent1, 0.6, 100%, rgba(255,255,255,0), 70%);
}
*/
/*
.post_content.ih-item.circle.effect17.colored:hover .img:before {
	.scheme_box_shadow(accent1, ~'inset 0 0 0 110px %c, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1)');
	.scheme_box_shadow(accent1, ~'inset 0 0 0 110px rgba(%r,%g,%b, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1)');
}
*/

.post_content.ih-item.circle.effect1 .spinner {
	.scheme_bdr_color(accent1);
	.scheme_bdb_color(accent1);
}
.post_content.ih-item .post_readmore .post_readmore_label,
.post_content.ih-item .info a,
.post_content.ih-item .info a > span {
	.scheme_color(inverse_link);
}
.post_content.ih-item .post_readmore:hover .post_readmore_label,
.post_content.ih-item .info a:hover,
.post_content.ih-item .info a:hover > span {
	.scheme_color(inverse_hover);
}


/* Tables */
td, th {
	.scheme_bd_color(bd_color);
}
.sc_table table {
	.scheme_bd_color(bd_color);
	/*overflow: hidden;*/	/* In Chrome hide right and bottom borders for the table */
}
.sc_table table tr:first-child {
	.scheme_bg_color(bd_color,0.4);
	.scheme_color(text_dark);
}
.sc_table table tr:nth-child(n + 1):hover {
	.scheme_bg_color(bd_color);
}

/* Table of contents */
pre.code,
#toc .toc_item.current,
#toc .toc_item:hover {
	.scheme_bd_color(accent1);
}


::selection,
::-moz-selection { 
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/*---LESS_SEPARATOR---*/



/* 3. Form fields settings
-------------------------------------------------------------- */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
select,
textarea {
	.input_font();
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(bd_color);
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	.scheme_color(text_light);
}

.columns_wrap > [class*="column-"].border_left {
	.scheme_bd_color(bd_color);
}
.responsive_bg_mask .sc_column_item_inner:before{
	.scheme_bg_color(accent1, 0.8);
}

/* 6. Page layouts
-------------------------------------------------------------- */
.body_style_boxed .body_wrap {
	.scheme_bg_image();
	.scheme_bg_color(bg_color);
}


/* 7. Section's decorations
-------------------------------------------------------------- */

/* If in the Theme options set "Body filled", else - leave this sections transparent */
body,
.page_wrap,
.copy_wrap,
.sidebar_cart,
.widget_area_inner,
#page_preloader {
	.scheme_bg_color(bg_color);
}

/*
.body_filled.article_style_boxed .page_wrap {
	.scheme_bg_color(alter_bg_color);
}
*/

/*.article_style_boxed.layout_excerpt .content,*/
/*.article_style_boxed .sidebar_inner,*/
.article_style_boxed .content > article > .post_content,
/*.article_style_boxed[class*="single-"] .content > article,*/
.article_style_boxed[class*="single-"] .content > .comments_wrap,
.article_style_boxed[class*="single-"] .content > article > .post_info_share,
.article_style_boxed:not(.layout_excerpt):not(.single) .content .post_item {
	.scheme_bg_color(alter_bg_color);
}


/* 7.1 Top panel
-------------------------------------------------------------- */

.top_panel_wrap_inner {
	.scheme_bg_color(bg_color);
}
.top_panel_fixed .top_panel_position_over.top_panel_wrap_inner {
	.scheme_bg_color(alter_bg_color) !important;
}

.top_panel_inner_style_3 .top_panel_cart_button,
.top_panel_inner_style_4 .top_panel_cart_button {
	.scheme_bg_color(inverse_text, 0.15);
}

.top_panel_cart_button:before {
	.scheme_bg_color(accent1);
}
.top_panel_cart_button:after {
	.scheme_color(inverse_text);
}
top_panel_middle{
	.scheme_bd_color(bd_color);
}
.top_panel_middle .sidebar_cart:after,
.top_panel_middle .sidebar_cart {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}
.top_panel_position_over .top_panel_middle{
	.scheme_bd_color(inverse_text, 0.1);
}
.top_panel_inner_style_3 .top_panel_top,
.top_panel_inner_style_4 .top_panel_top,
.top_panel_inner_style_5 .top_panel_top,
.top_panel_inner_style_3 .top_panel_top .sidebar_cart,
.top_panel_inner_style_4 .top_panel_top .sidebar_cart {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}

.top_panel_top a {
	.scheme_color(text);
}
.top_panel_top a:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_3 .top_panel_top a,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_4 .top_panel_top a,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_5 .top_panel_top a,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_3 .top_panel_top a:hover,
.top_panel_inner_style_3 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_4 .top_panel_top a:hover,
.top_panel_inner_style_4 .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_5 .top_panel_top a:hover,
.top_panel_inner_style_5 .sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(inverse_hover);
}

.top_panel_inner_style_3 .search_results .post_info a > span,
.top_panel_inner_style_3 .search_results .post_info a[class*="icon-"] {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_3 .search_results .post_info a[class*="icon-"]:hover {
	.scheme_color(inverse_hover);
}

/* User menu */
.menu_user_nav > li > a {
	.scheme_color(text);
}
.menu_user_nav > li > a:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_3 .menu_user_nav > li > a,
.top_panel_inner_style_4 .menu_user_nav > li > a,
.top_panel_inner_style_5 .menu_user_nav > li > a {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_3 .menu_user_nav > li > a:hover,
.top_panel_inner_style_4 .menu_user_nav > li > a:hover,
.top_panel_inner_style_5 .menu_user_nav > li > a:hover {
	.scheme_color(inverse_hover);
}

.menu_user_nav > li ul:not(.cart_list) {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}
.top_panel_inner_style_1 .menu_user_nav > li > ul:after,
.top_panel_inner_style_2 .menu_user_nav > li > ul:after {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}

.top_panel_inner_style_3 .menu_user_nav > li > ul:after,
.top_panel_inner_style_4 .menu_user_nav > li > ul:after,
.top_panel_inner_style_5 .menu_user_nav > li > ul:after,
.top_panel_inner_style_3 .menu_user_nav > li ul,
.top_panel_inner_style_4 .menu_user_nav > li ul,
.top_panel_inner_style_5 .menu_user_nav > li ul {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
}
.menu_user_nav > li ul li a {
	.scheme_color(alter_text);
}
.menu_user_nav > li ul li a:hover,
.menu_user_nav > li ul li.current-menu-item > a,
.menu_user_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(accent1);
}
.top_panel_inner_style_3 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_3 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_4 .menu_user_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li a:hover,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_5 .menu_user_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(text_dark);
}

.menu_user_nav > li.menu_user_controls .user_avatar {
	.scheme_bd_color(bd_color);
}
.top_panel_inner_style_3 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_4 .menu_user_nav > li.menu_user_controls .user_avatar,
.top_panel_inner_style_5 .menu_user_nav > li.menu_user_controls .user_avatar {
	.scheme_bd_color(inverse_text);
}

/* Bookmarks */
.menu_user_nav > li.menu_user_bookmarks .bookmarks_add {
	.scheme_bdb_color(alter_bd_color);
}


/*---LESS_SEPARATOR---*/


/* Top panel - middle area */
.top_panel_middle {
	.scheme_bd_color(bd_color);
}
.top_panel_position_over.top_panel_middle {
	.scheme_bg_color(alter_bg_color, 0.75);
}
.top_panel_middle .logo {
	.logo_margins();
}
.logo .logo_text {
	.logo_font();
	.scheme_color(text_dark);
}
.logo .logo_slogan {
	.scheme_color(text);
}

.top_panel_style_5 .top_panel_middle .logo {
	margin-bottom: @logo_mb*0.5;
}


/* Top panel (bottom area) */
.top_panel_bottom {
	.scheme_bg_color(accent1);
}

/* Top panel image in the header 7  */
.top_panel_image_hover {
	.scheme_bg_color(inverse_dark, 0.8);
}
.top_panel_image_header,
.top_panel_image_title,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_text,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .logo_slogan {
	.scheme_color(inverse_text);
}
.top_panel_image_header a,
.top_panel_image_title > a,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a {
	.scheme_color(inverse_text);
}
.post_featured .post_header a:hover,
.top_panel_over:not(.top_panel_fixed) .top_panel_style_7 .menu_main_nav > li > a:hover {
	.scheme_color(inverse_hover);
}

/* Main menu */
.menu_main_nav > li > a {
	padding:@menu_mt 1.5em @menu_mb;
	.menu_font();
	.scheme_color(text);
}
.top_panel_inner_style_1 .menu_main_nav > li > a,
.top_panel_inner_style_2 .menu_main_nav > li > a {
	.scheme_color(inverse_text);
}
.menu_main_nav > li ul {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.menu_main_nav > a:hover,
.menu_main_nav > li.sfHover > a,
.menu_main_nav > li#blob,
.menu_main_nav > li.current-menu-item > a,
.menu_main_nav > li.current-menu-parent > a,
.menu_main_nav > li.current-menu-ancestor > a {
	.scheme_color(accent1);
}
.top_panel_inner_style_1 .menu_main_nav > li ul,
.top_panel_inner_style_2 .menu_main_nav > li ul {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}
.top_panel_inner_style_1 .menu_main_nav > a:hover,
.top_panel_inner_style_1 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_1 .menu_main_nav > li#blob,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_1 .menu_main_nav > li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > a:hover,
.top_panel_inner_style_2 .menu_main_nav > li.sfHover > a,
.top_panel_inner_style_2 .menu_main_nav > li#blob,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-parent > a,
.top_panel_inner_style_2 .menu_main_nav > li.current-menu-ancestor > a {
	.scheme_color(text_dark);
}
.menu_main_nav > li ul {
	.submenu_font();
}
.menu_main_nav > li > ul {
	top:@menu_mt+@menu_mb+@menu_lh;
}
.menu_main_nav > li ul li a {
	.scheme_color(text);
	padding:@submenu_mt 1.5em @submenu_mb;
}
.menu_main_nav > li ul li a:hover,
.menu_main_nav > li ul li.current-menu-item > a,
.menu_main_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(accent1);
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a {
	.scheme_color(inverse_link);
}
.top_panel_inner_style_1 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_1 .menu_main_nav > li ul li.current-menu-ancestor > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li a:hover,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-item > a,
.top_panel_inner_style_2 .menu_main_nav > li ul li.current-menu-ancestor > a {
	.scheme_color(text_dark);
}


/* Search field */
.top_panel_inner_style_1 .search_wrap,
.top_panel_inner_style_2 .search_wrap {
	.scheme_bd_color(inverse_text, 0.1);
}


/*---LESS_SEPARATOR---*/


/* Contact fields */
.top_panel_middle .contact_field,
.top_panel_middle .contact_field > a {
	.scheme_color(text_dark); 
}
.top_panel_middle .contact_icon {
	.scheme_color(text_light); 
}

/* Search field */
.top_panel_bottom .search_wrap,
.top_panel_inner_style_4 .search_wrap {
	padding-top:@menu_mt*0.65;
	padding-bottom:@menu_mb*0.5;
}
.top_panel_inner_style_1 .search_state_fixed .search_submit ,
.top_panel_inner_style_1 input[type="text"].search_field::-webkit-input-placeholder  {
	.scheme_color(inverse_text, 0.5); 
}
.top_panel_inner_style_1 input[type="text"].search_field {
	.scheme_bd_color(inverse_text, 0.5); 
	.scheme_color(inverse_text); 
}
.content .search_form_wrap {
	.scheme_bg_color(alter_bg_color); 
}
.content .search_field,
.content .search_submit {
	.scheme_color(alter_text);
}
.content .search_field:focus,
.content .search_submit:hover {
	.scheme_color(text_dark);
}
.top_panel_inner_style_3 .search_field {
	.scheme_color(inverse_text);
}
.top_panel_inner_style_8 .search_field:focus {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover) !important;
}
.top_panel_wrap_inner.top_panel_position_over input[type="text"].search_field{
	.scheme_bg_color(bg_color) !important;
}
.top_panel_wrap_inner.top_panel_position_over input[type="text"].search_field:focus{
	.scheme_color(text_dark);
}
.top_panel_icon {
	margin: @menu_mt*0.7 0 @menu_mb 1em;
}
.top_panel_icon.search_wrap,
.top_panel_icon .search_submit,
.top_panel_icon .contact_icon {
	.scheme_color(text);
}
.top_panel_wrap_inner .search_state_opened .search_submit{
	.scheme_color(text_light);
}

.top_panel_style_7 .top_panel_icon .contact_icon,
.top_panel_style_7 .top_panel_icon .search_submit {
	.scheme_color(inverse_text);
}
.top_panel_middle a:hover .contact_icon,
.top_panel_icon:hover .contact_icon{
	.scheme_color(accent1);
}

/* Search results */
.search_results .post_more,
.search_results .search_results_close {
	.scheme_color(accent1);
}
.search_results .post_more:hover,
.search_results .search_results_close:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_2 .search_results,
.top_panel_inner_style_2 .search_results:after,
.top_panel_inner_style_3 .search_results,
.top_panel_inner_style_3 .search_results:after {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1); 
	.scheme_bd_color(accent1); 
}
.search_results a:hover{
	.scheme_color(accent1); 
}
.top_panel_inner_style_2 .search_results a,
.top_panel_inner_style_2 .search_results .post_info a,
.top_panel_inner_style_2 .search_results .post_info a > span,
.top_panel_inner_style_2 .search_results .post_more,
.top_panel_inner_style_2 .search_results .search_results_close,
.top_panel_inner_style_3 .search_results a,
.top_panel_inner_style_3 .search_results .post_info a,
.top_panel_inner_style_3 .search_results .post_info a > span,
.top_panel_inner_style_3 .search_results .post_more,
.top_panel_inner_style_3 .search_results .search_results_close {
	.scheme_color(inverse_link);
}
.top_panel_inner_style_2 .search_results a:hover,
.top_panel_inner_style_2 .search_results .post_info a:hover,
.top_panel_inner_style_2 .search_results .post_info a:hover > span,
.top_panel_inner_style_2 .search_results .post_more:hover,
.top_panel_inner_style_2 .search_results .search_results_close:hover,
.top_panel_inner_style_3 .search_results a:hover,
.top_panel_inner_style_3 .search_results .post_info a:hover,
.top_panel_inner_style_3 .search_results .post_info a:hover > span,
.top_panel_inner_style_3 .search_results .post_more:hover,
.top_panel_inner_style_3 .search_results .search_results_close:hover {
	.scheme_color(text_dark);
}

/* Fixed menu */
.top_panel_fixed .menu_main_wrap {
	padding-top:@menu_mt*0.3;
}
.top_panel_fixed .top_panel_wrap .logo {
	margin-top: @menu_mt*0.6;
	margin-bottom: @menu_mb*0.6;
}
.top_panel_fixed .scheme_dark .top_panel_middle {
	.scheme_bg_color(text_dark); 
}
.top_panel_wrap .contact_field > a > span,
.top_panel_wrap .contact_field > div > span{
	.scheme_color(text); 
}
.top_panel_style_1 .top_panel_middle .contact_icon:before{
	.scheme_color(accent1); 
}

/*---LESS_SEPARATOR---*/

/* Header style 8 */
.top_panel_inner_style_8 .menu_pushy_wrap .menu_pushy_button {
	.scheme_color(alter_text); 
}
.top_panel_inner_style_8 .menu_pushy_wrap .menu_pushy_button:hover {
	.scheme_color(text_dark); 
}
.pushy_inner {
	.scheme_color(text); 
	.scheme_bg_color(bg_color); 
}
.pushy_inner a{
	.scheme_color(accent1); 
}
.pushy_inner a:hover,
.menu_pushy_nav_area li.current-menu-item > a {
	.scheme_color(text_dark); 
}
.pushy_inner ul ul {
	.scheme_bg_color(alter_bg_color, 0.8); 
}
.pushy_inner .sc_socials.sc_socials_type_icons a{
	.scheme_color(text_light); 
}
.pushy_inner .sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(accent1); 
}


/* Register and login popups */
.top_panel_inner_style_3 .popup_wrap a,
.top_panel_inner_style_3 .popup_wrap .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_4 .popup_wrap a,
.top_panel_inner_style_4 .popup_wrap .sc_socials.sc_socials_type_icons a:hover,
.top_panel_inner_style_5 .popup_wrap a,
.top_panel_inner_style_5 .popup_wrap .sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(accent1);
}
.top_panel_inner_style_3 .popup_wrap a:hover,
.top_panel_inner_style_4 .popup_wrap a:hover,
.top_panel_inner_style_5 .popup_wrap a:hover {
	.scheme_color(accent1_hover);
}
.top_panel_inner_style_3 .popup_wrap,
.top_panel_inner_style_4 .popup_wrap,
.top_panel_inner_style_5 .popup_wrap,
.top_panel_inner_style_3 .popup_wrap .popup_close,
.top_panel_inner_style_3 .popup_wrap .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_4 .popup_wrap .popup_close,
.top_panel_inner_style_4 .popup_wrap .sc_socials.sc_socials_type_icons a,
.top_panel_inner_style_5 .popup_wrap .popup_close,
.top_panel_inner_style_5 .popup_wrap .sc_socials.sc_socials_type_icons a {
	.scheme_color(text);
}
.top_panel_inner_style_3 .popup_wrap .popup_close:hover,
.top_panel_inner_style_4 .popup_wrap .popup_close:hover,
.top_panel_inner_style_5 .popup_wrap .popup_close:hover {
	.scheme_color(text_dark);
}


/* Header mobile */
.header_mobile {
	.scheme_bd_color(bd_color);
}
.header_mobile .menu_button,
.header_mobile .menu_main_cart .top_panel_cart_button .contact_icon {
	.scheme_color(text_dark);
}
.header_mobile .side_wrap {
	.scheme_color(inverse_text);
}
.header_mobile .panel_top,
.header_mobile .side_wrap {
	.scheme_bg_color(accent1);
}
.header_mobile .panel_middle,
.header_mobile .panel_bottom {
	.scheme_bg_color(accent1);
}

.header_mobile .menu_button:hover,
.header_mobile .menu_main_cart .top_panel_cart_button .contact_icon:hover,
.header_mobile .menu_main_cart.top_panel_icon:hover .top_panel_cart_button .contact_icon,
.header_mobile .side_wrap .close:hover{
	.scheme_color(accent1);
}

.header_mobile .menu_main_nav > li a,
.header_mobile .menu_main_nav > li > a:hover {
	.scheme_color(inverse_link);
}
.header_mobile .menu_main_nav > a:hover, 
.header_mobile .menu_main_nav > li.sfHover > a, 
.header_mobile .menu_main_nav > li.current-menu-item > a, 
.header_mobile .menu_main_nav > li.current-menu-parent > a, 
.header_mobile .menu_main_nav > li.current-menu-ancestor > a,
.header_mobile .menu_main_nav > li > a:hover,
.header_mobile .menu_main_nav > li ul li a:hover, 
.header_mobile .menu_main_nav > li ul li.current-menu-item > a, 
.header_mobile .menu_main_nav > li ul li.current-menu-ancestor > a,
.header_mobile .login a:hover {
    .scheme_color(inverse_hover);
}
.header_mobile .popup_wrap .popup_close:hover {
    .scheme_color(text_dark);
}

.header_mobile .search_wrap,
.header_mobile .login {
	.scheme_bd_color(accent1);
}
.header_mobile .login .popup_link,
.header_mobile .sc_socials.sc_socials_type_icons a {
	.scheme_color(inverse_link);
}

.header_mobile .search_wrap .search_field,
.header_mobile .search_wrap .search_field:focus {  
	.scheme_color(inverse_text);
}
.header_mobile .search_wrap .search_field::-webkit-input-placeholder{
	.scheme_color(inverse_text,0.7);
}
.header_mobile .widget_shopping_cart ul.cart_list > li > a:hover {
	.scheme_color(inverse_text);
}

.header_mobile .popup_wrap .sc_socials.sc_socials_type_icons a {
	.scheme_color(text_light);
}
.header_mobile .sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(inverse_text);
}



/* 7.2 Slider
-------------------------------------------------------------- */
.tparrows.default {
	.scheme_color(bg_color);
}
.tp-bullets.simplebullets.round .bullet {
	.scheme_bg_color(bg_color);
}
.tp-bullets.simplebullets.round .bullet.selected {
	.scheme_bd_color(bg_color);
}


/* 7.3 Top panel: Page title and breadcrumbs
-------------------------------------------------------------- */

.top_panel_title_inner {
	.scheme_bd_color(alter_bd_color, 0.1);
}

.top_panel_title_inner .page_title {
	.scheme_color(text_dark);
}

.top_panel_title_inner .post_navi .post_navi_item a,
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
	.scheme_color(text_dark);
}
.top_panel_title_inner .post_navi .post_navi_item a:hover,
.top_panel_title_inner .breadcrumbs a.breadcrumbs_item:hover {
	.scheme_color(accent1);
}
.top_panel_title_inner .post_navi span,
.top_panel_title_inner .breadcrumbs span {
	.scheme_color(text_dark);
}
.post_navi .post_navi_item + .post_navi_item:before,
.top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter {
	.scheme_color(text_dark);
}





/* 7.4 Main content wrapper
-------------------------------------------------------------- */

/* Layout Excerpt */
.post_title .post_icon {
	.scheme_color(accent1);
}

/* Blog pagination */
.pagination > a {
	.scheme_bd_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* 7.5 Post formats
-------------------------------------------------------------- */

/* Aside */
.post_format_aside.post_item_single .post_content p,
.post_format_aside .post_descr {
	.scheme_bd_color(accent1);
	.scheme_color(text_dark);
}

/* Link */
.post_format_link .post_descr a{
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}
.post_format_link .post_descr a:hover{
	.scheme_color(accent1);
}

/* Status */
.post_format_status.post_item_single .post_content p,
.post_format_status .post_descr {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}


/* 7.6 Posts layouts
-------------------------------------------------------------- */

/* Hover icon */
.hover_icon:after {
	.scheme_bg_color(accent1_hover, 0.3);
}
.hover_icon:before{
	.scheme_color(accent1)
}
.sc_video_frame.hover_icon:hover:before{
	.scheme_color(accent1_hover);
}

/* Post info */
.post_info {
	.info_font();
	.info_margins();
	.scheme_color(text_light);
}
.post_info a,
.post_info a > span {
	.scheme_color(text);
}
.post_info a[class*="icon-"] {
	.scheme_color(accent1);
}
.post_info a:hover,
.post_info a:hover > span {
	.scheme_color(text_light);
}

.post_item .post_readmore_label {
	.scheme_color(text_dark);
}
.post_item .post_readmore:hover .post_readmore_label {
	.scheme_color(accent1_hover);
}

/* Related posts */
.post_item_related .post_info a {
	.scheme_color(text);
}
.post_item_related .post_info a:hover,
.post_item_related .post_title a:hover {
	.scheme_color(accent1_hover);
}
.related_wrap .post_item_related,
.article_style_stretch .post_item_related {
	.scheme_bg_color(alter_bg_color);
}
.article_style_boxed.sidebar_show[class*="single-"] .related_wrap .post_item_related {
	.scheme_bg_color(alter_bg_color);
}


/* Style "Colored" */
.isotope_item_colored .post_featured .post_mark_new,
.isotope_item_colored .post_featured .post_title,
.isotope_item_colored .post_content.ih-item.square.colored .info {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.isotope_item_colored .post_featured .post_title a {
	.scheme_color(inverse_text);
}

.isotope_item_colored .post_category a,
.isotope_item_colored .post_rating .reviews_stars_bg,
.isotope_item_colored .post_rating .reviews_stars_hover,
.isotope_item_colored .post_rating .reviews_value {
	.scheme_color(accent1);
}

.isotope_item_colored .post_featured .post_descr {
	.scheme_bg_color(alter_bg_color);
}
.article_style_boxed .isotope_item_colored .post_featured .post_descr {
	.scheme_bg_color(alter_bg_color);
}
.isotope_item_colored .post_info_wrap .post_button .sc_button {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}

.isotope_item_colored_1 .post_item {
	.scheme_bg_color(alter_bg_color);
	.scheme_color(alter_text);
}
.isotope_item_colored_1 a,
.isotope_item_colored_1 .post_title a {
	.scheme_color(alter_link);
}
.isotope_item_colored_1 a:hover,
.isotope_item_colored_1 .post_title a:hover,
.isotope_item_colored_1 .post_category a:hover {
	.scheme_color(alter_hover);
}


/* Masonry and Portfolio */
.isotope_wrap .isotope_item_colored_1 .post_featured {
	.scheme_bd_color(accent1);
}

/* Isotope filters */
.isotope_filters a {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.isotope_filters a.active,
.isotope_filters a:hover {
	.scheme_bd_color(accent1_hover);
	.scheme_bg_color(accent1_hover);
}




/* 7.7 Paginations
-------------------------------------------------------------- */

/* Style 'Pages' and 'Slider' */
.pagination_single > .pager_numbers,
.pagination_single a,
.pagination_slider .pager_cur,
.pagination_pages > a,
.pagination_pages > span {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.pagination_single > .pager_numbers,
.pagination_single a:hover,
.pagination_slider .pager_cur:hover,
.pagination_slider .pager_cur:focus,
.pagination_pages > .active,
.pagination_pages > a:hover {
	.scheme_bg_color(bg_color);
	.scheme_color(accent1);
}

.pagination_slider .pager_slider {
	.scheme_bd_color(bd_color);
	.scheme_bg_color(bg_color);
}

.pagination_wrap .pager_next,
.pagination_wrap .pager_prev,
.pagination_wrap .pager_last,
.pagination_wrap .pager_first {
	.scheme_color(accent1);
}
.pagination_wrap .pager_next:hover,
.pagination_wrap .pager_prev:hover,
.pagination_wrap .pager_last:hover,
.pagination_wrap .pager_first:hover {
	.scheme_color(accent1_hover);
}



/* Style 'Load more' */
.pagination_viewmore > a {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.pagination_viewmore > a:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}

/* Loader picture */
.viewmore_loader,
.mfp-preloader span,
.sc_video_frame.sc_video_active:before {
	.scheme_bg_color(accent1_hover);
}



/* 8 Single page parts
-------------------------------------------------------------- */


/* 8.1 Attachment and Portfolio post navigation
------------------------------------------------------------- */
.post_featured .post_nav_item {
	.scheme_color(inverse_text);
}
.post_featured .post_nav_item:before {
	border-color:transparent;
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.post_featured .post_nav_item .post_nav_info {
	.scheme_bg_color(accent1);
}


/* 8.2 Reviews block
-------------------------------------------------------------- */
.reviews_block .reviews_summary .reviews_item {
	.scheme_bg_color(accent1);
}
.reviews_block .reviews_summary,
.reviews_block .reviews_max_level_100 .reviews_stars_bg {
	.scheme_bg_color(alter_bg_hover);
}
.reviews_block .reviews_max_level_100 .reviews_stars_hover,
.reviews_block .reviews_item .reviews_slider {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.reviews_block .reviews_item .reviews_stars_hover {
	.scheme_color(accent1);
}
.reviews_block .reviews_value {
	.scheme_color(text_dark);
}
.reviews_block .reviews_summary .reviews_criteria {
	.scheme_color(text);
}
.reviews_block .reviews_summary .reviews_value {
	.scheme_color(inverse_text);
}

/* Summary stars in the post item (under the title) */
.post_item .post_rating .reviews_stars_bg,
.post_item .post_rating .reviews_stars_hover,
.post_item .post_rating .reviews_value {
	.scheme_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* 8.3 Post author
-------------------------------------------------------------- */
.post_author {
	.scheme_bg_color(alter_bg_color);
	.scheme_color(text_dark);
}
.post_author .post_author_title {
	.scheme_color(text_dark);
}
.post_author .post_author_title a {
	.scheme_color(accent1);
}
.post_author .post_author_title a:hover {
	.scheme_color(accent1_hover);
}
.post_author .post_author_info .sc_socials_shape_square a {
	.scheme_color(text_dark);
}
.post_author .post_author_info .sc_socials_shape_square a:hover {
	.scheme_color(accent1_hover);
}



/* 8.4 Comments
-------------------------------------------------------- */
.comments_list_wrap ul.children,
.comments_list_wrap ul > li + li {
	.scheme_bdt_color(bd_color);
}
.comments_list_wrap .comment_info{
	.scheme_color(text_light);
}
.comments_list_wrap .comment-respond {
	.scheme_bdb_color(accent1);
}
.comments_list_wrap > ul {
	.scheme_bdb_color(accent1);
}
.comments_list_wrap .comment_info > span.comment_author,
.comments_list_wrap .comment_info > .comment_date > .comment_date_value {
	.scheme_color(accent1);
}



/* 8.5 Page 404
-------------------------------------------------------------- */
.post_item_404 .page_title,
.post_item_404 .page_subtitle {
	font-family: @logo_ff;
	.scheme_color(accent1);
}




/* 9. Sidebars
-------------------------------------------------------------- */

/* Side menu */
.sidebar_outer_menu .menu_side_nav > li > a,
.sidebar_outer_menu .menu_side_responsive > li > a {
	.menu_font();
}
.sidebar_outer_menu .menu_side_nav li > a,
.sidebar_outer_menu .menu_side_responsive li > a {
	.scheme_color(text_dark);
}
.sidebar_outer_menu .menu_side_nav li > a:hover,
.sidebar_outer_menu .menu_side_nav li.sfHover > a,
.sidebar_outer_menu .menu_side_responsive li > a:hover,
.sidebar_outer_menu .menu_side_responsive li.sfHover > a {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
	.scheme_color(text_dark);
	.scheme_bg_color(bg_color);
	.scheme_bd_color(bd_color);
}
.sidebar_outer_menu .menu_side_nav li.current-menu-item > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_nav li.current-menu-ancestor > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-item > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-parent > a,
.sidebar_outer_menu .menu_side_responsive li.current-menu-ancestor > a {
	.scheme_color(text_light);
}
.sidebar_outer_menu .menu_side_nav > li ul,
.sidebar_outer_menu .menu_side_responsive > li ul {
	.submenu_font();
}
.sidebar_outer_menu .menu_side_nav > li ul li a,
.sidebar_outer_menu .menu_side_responsive > li ul li a {
	padding:@submenu_mt 1.5em @submenu_mb;
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a {
	.scheme_color(text_dark);
}
.sidebar_outer_menu .sidebar_outer_menu_buttons > a:hover {
	.scheme_color(accent1);
}

/* Common rules */
.sidebar{
	.scheme_bd_color(bd_color);
}
.widget_area .widget_title{
	.scheme_color(text_dark);
}
.sidebar_inner aside:nth-child(3n+4),
.sidebar_inner aside:nth-child(3n+5),
.sidebar_inner aside:nth-child(3n+6),
.sidebar_outer_inner aside:nth-child(3n+4),
.sidebar_outer_inner aside:nth-child(3n+5),
.sidebar_outer_inner aside:nth-child(3n+6),
.widget_area_inner aside:nth-child(2n+3),
.widget_area_inner aside:nth-child(2n+4),
.widget_area_inner aside+aside {
	.scheme_bd_color(bd_color);
}
.widget_area_inner {
	.scheme_color(text);
}
.widget_area_inner a,
.widget_area_inner ul li:before,
.widget_area_inner ul li a:hover {
	.scheme_color(accent1);
}
.widget_area_inner a:hover,
.widget_area_inner ul li a,
.widget_area_inner button:hover:before {
	.scheme_color(text_dark);
}
.widget_area_inner ul li:before {
	font-size:1.5em;
}
.widget_area_inner .post_title a {
	.scheme_color(text_dark);
}
.widget_area_inner .widget_text a:not(.sc_button),
.widget_area_inner .post_info a {
	.scheme_color(accent1);
}
.widget_area_inner .widget_text a:not(.sc_button):hover,
.widget_area_inner .post_info a:hover {
	.scheme_color(accent1_hover);
}
.footer_wrap .widget_area_inner{
	.scheme_bg_color(text_dark);
	.scheme_color(text_light);
}
.footer_wrap .widget_area_inner a,
.footer_wrap .widget_area_inner .widget_text a{
	.scheme_color(inverse_text);
}
.footer_wrap .widget_area_inner a:hover,
.footer_wrap .widget_area_inner .widget_text a:hover{
	.scheme_color(accent1);
}
.footer_wrap .widget_area_inner .widget_title{
	.scheme_color(inverse_text);
}
.footer_wrap .widget_area_inner  h5,
.footer_wrap .widget_area_inner ul li a{
	.scheme_color(inverse_text);
}
.footer_wrap .widget_area_inner ul li a:hover{
	.scheme_color(accent1);
}
.footer_wrap .widget_area_inner .post_title a {
	.scheme_color(inverse_text);
}
.footer_wrap .widget_area_inner .post_info a { 
	.scheme_color(text_light);
}
.footer_wrap .widget_area_inner .post_info a:hover { 
	.scheme_color(accent1);
}

/* Widget: Search */
.widget_area_inner .widget_product_search .search_form,
.widget_area_inner .widget_search .search_form {
	.scheme_bg_color(alter_bg_color);
}
.widget_area_inner .widget_product_search .search_field,
.widget_area_inner .widget_search .search_field {
	.scheme_color(alter_text);
}
.widget_area_inner .widget_product_search .search_field,
.widget_area_inner .widget_search .search_field {
	.scheme_bd_color(alter_bd_color);
}
.widget_area_inner .widget_product_search .search_button,
.widget_area_inner .widget_search .search_button {
	.scheme_color(bd_color);
}
.widget_area_inner .widget_product_search .search_button:hover,
.widget_area_inner .widget_search .search_button:hover {
	.scheme_color(text_dark);
}

/* Rss */
.widget_area .widget_rss li .rss-date{
	.scheme_color(text_light);
}

/* Widget: Calendar */
.widget_area .widget_calendar .month_cur{
	.scheme_color(text_dark);
}
.widget_area_inner .widget_calendar .weekday,
.widget_area .widget_calendar td .day_wrap {
	.scheme_color(text_dark);
}
.widget_area_inner .widget_calendar td a:hover {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.widget_area_inner .widget_calendar .today .day_wrap {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.widget_area .widget_calendar thead .month_cur a{
	.scheme_color(text_dark);
}

/* Widget: Tag Cloud */
.widget_area_inner .widget_product_tag_cloud a,
.widget_area_inner .widget_tag_cloud a {
	.scheme_bd_color(bd_color);
	.scheme_color(text_dark);
}
.widget_area_inner .widget_product_tag_cloud a:hover,
.widget_area_inner .widget_tag_cloud a:hover {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}


/* Left or Right sidebar */
.sidebar_outer_inner aside,
.sidebar_inner aside {
	.scheme_bdt_color(bd_color);
}

/* Widget woo categories */
.widget_product_categories .widget_title{
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/*---LESS_SEPARATOR---*/


/* 10. Footer areas
-------------------------------------------------------------- */

/* Contacts */
.contacts_wrap_inner {
	.scheme_color(text_light);
	.scheme_bg_color(text_dark);
}
.copyright_style_text .copyright_wrap_inner{
	.scheme_color(text_light);
	.scheme_bg_color(text_dark);
}
.contacts_wrap .contacts_address {
	.scheme_color(inverse_text);
}
.contacts_wrap .sc_socials.sc_socials_type_icons a{
	.scheme_color(inverse_text, 0.2);
}

/* Testimonials and Twitter */
.testimonials_wrap_inner,
.twitter_wrap_inner {
	.scheme_color(text);
	.scheme_bg_color(bg_color);
}

/* Copyright */
.copyright_wrap_inner {
    .scheme_bg_color(inverse_dark);
}
.copyright_wrap_inner .copyright_text {
    .scheme_color(alter_text);
}
.copyright_wrap_inner .copyright_text a{
    .scheme_color(inverse_text);
}
.copyright_wrap_inner .copyright_text a:hover{
    .scheme_color(accent1);
}
.copyright_wrap_inner .menu_footer_nav li a {
    .scheme_color(text);
}
.copyright_wrap_inner .menu_footer_nav li a:hover {
    .scheme_color(accent1);
}
.copyright_wrap .sc_socials.sc_socials_type_icons a{
    .scheme_color(text);
}



/* 11. Utils
-------------------------------------------------------------- */

/* Scroll to top */
.scroll_to_top {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
	border:none;
}
.scroll_to_top:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}




/* 12. Registration and Login popups
-------------------------------------------------------------- */
.popup_wrap {
	.scheme_bg_color(bg_color);
}




/* 13. Third party plugins
------------------------------------------------------- */



/* 13.2 WooCommerce
------------------------------------------------------ */

/* Theme colors */
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before,
.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price,.woocommerce ul.products li.product .price,.woocommerce-page ul.products li.product .price,
.woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover,
.woocommerce #content input.button:hover, .woocommerce-page button.button:hover, .woocommerce-page #content input.button:hover,
.woocommerce .quantity input[type="button"]:hover, .woocommerce #content input[type="button"]:hover, .woocommerce-page .quantity input[type="button"]:hover, .woocommerce-page #content .quantity input[type="button"]:hover,
.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount,
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount,
.woocommerce a:hover h3, .woocommerce-page a:hover h3,
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong,
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount,
.woocommerce .star-rating, .woocommerce-page .star-rating, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before,
.widget_area_inner .widgetWrap ul > li .star-rating span, .woocommerce #review_form #respond .stars a, .woocommerce-page #review_form #respond .stars a
{
	.scheme_color(accent1);
}
.woocommerce-page input.button:hover{
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
}
.woocommerce div.quantity span, .woocommerce-page div.quantity span {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.woocommerce div.quantity span:hover, .woocommerce-page div.quantity span:hover {
	.scheme_bg_color(accent1_hover);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	.scheme_bg_color(alter_light);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{ 
	.scheme_bg_color(text_dark);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
	.scheme_bg(accent1);
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce a.button.alt:active, .woocommerce button.button.alt:active, .woocommerce input.button.alt:active, .woocommerce #respond input#submit.alt:active, .woocommerce #content input.button.alt:active, .woocommerce-page a.button.alt:active, .woocommerce-page button.button.alt:active, .woocommerce-page input.button.alt:active, .woocommerce-page #respond input#submit.alt:active, .woocommerce-page #content input.button.alt:active,
.woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active, .woocommerce #respond input#submit:active, .woocommerce #content input.button:active, .woocommerce-page a.button:active, .woocommerce-page button.button:active, .woocommerce-page input.button:active, .woocommerce-page #respond input#submit:active, .woocommerce-page #content input.button:active
{ 
	.scheme_bdt_color(accent1);
}
.woocommerce .woocommerce-ordering select{
	.scheme_color(text);
}
.top_panel_inner_style_4 .widget_shopping_cart .buttons a{
	.scheme_bd_color(inverse_text);
}
.top_panel_wrap_inner  .widget_shopping_cart ul.cart_list > li > a:hover{
	.scheme_color(text_dark);
}
.top_panel_wrap_inner  .widget_shopping_cart ul.cart_list > li > a,
.top_panel_wrap_inner .widget_shopping_cart .total,
.widget_area .search_results_content .post_item .post_title a,
.header_mobile .widget_shopping_cart ul.cart_list > li > a {
	.scheme_color(text_dark);
}
.top_panel_wrap_inner  .widget_shopping_cart ul.cart_list > li > a:hover,
.widget_area .search_results_content .post_item .post_title a:hover,
.header_mobile .widget_shopping_cart ul.cart_list > li > a:hover{
	.scheme_color(accent1);
}
.search_wrap .search_results{
	.scheme_bg_color(bg_color);
	.scheme_bd_color(bd_color);
}
.top_panel_middle .sidebar_cart:after, .menu_user_nav > li > ul:after, 
.search_wrap .search_results:after{
	.scheme_bg_color(bg_color);
	.scheme_bd_color(bd_color);
}
.widget_area .search_results_content .post_item .post_info {
	.scheme_color(text_light);
}
.widget_area .search_results_content .post_item .post_info a{
	.scheme_color(alter_text);
}
.top_panel_inner_style_4 .widget_shopping_cart ul.cart_list > li > a{
	.scheme_color(inverse_text);
}
.top_panel_inner_style_4 .widget_shopping_cart ul.cart_list > li > a:hover{
	.scheme_color(text_dark);
}
.widget_shopping_cart .buttons a:hover,
.top_panel_inner_style_4 .widget_shopping_cart .buttons a:hover
{
	.scheme_color(inverse_text);
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
	.scheme_bd_color(accent1);
}
/* Buttons */
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce-account .addresses .title .edit {
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_text);
}

/* Messages */
.article_style_boxed.woocommerce .woocommerce-error, .article_style_boxed.woocommerce .woocommerce-info, .article_style_boxed.woocommerce .woocommerce-message,
.article_style_boxed.woocommerce-page .woocommerce-error, .article_style_boxed.woocommerce-page .woocommerce-info, .article_style_boxed.woocommerce-page .woocommerce-message {
	.scheme_bg_color(alter_bg_color);
}
.article_style_boxed.woocommerce.archive .woocommerce-error, .article_style_boxed.woocommerce.archive .woocommerce-info, .article_style_boxed.woocommerce.archive .woocommerce-message,
.article_style_boxed.woocommerce-page.archive .woocommerce-error, .article_style_boxed.woocommerce-page.archive .woocommerce-info, .article_style_boxed.woocommerce-page.archive .woocommerce-message {
	.scheme_bg_color(alter_bg_color);
}

/* Products stream */
.woocommerce span.new, .woocommerce-page span.new,
.woocommerce span.onsale, .woocommerce-page span.onsale {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_light);
}
.article_style_boxed.woocommerce ul.products li.product .post_item_wrap, .article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
	.scheme_bg_color(alter_bg_color);
}

.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price,
.woocommerce ul.products li.product .star-rating:before, .woocommerce ul.products li.product .star-rating span {
	.scheme_color(accent1);
}
.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
	.scheme_color(text_light);
}
.woocommerce ul.products li.product .add_to_cart_button, .woocommerce-page ul.products li.product .add_to_cart_button {
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_light);
}

.article_style_boxed.woocommerce ul.products li.product .post_item_wrap, .article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
	.self_bg_color(alter_bg_hover);
}
.article_style_boxed.woocommerce ul.products li.product .post_content, .article_style_boxed.woocommerce-page ul.products li.product .post_content {
	.self_bg_color(alter_bg_color);
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span.current {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}

/* Tabs */
.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	.scheme_bd_color(bd_color);
}

/* Tabs on single product page */
.single-product div.product .woocommerce-tabs.trx-stretch-width {
	/*.self_bg_color(bg_color);*/
}
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li a {
	.scheme_color(text_dark);
}
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li a:hover,
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li.active a {
	.scheme_color(accent1);
}
.single-product div.product .woocommerce-tabs.trx-stretch-width .wc-tabs li.active a:after {
	.scheme_bg_color(accent1);
}

/* Cart */
.woocommerce table.cart thead th, .woocommerce #content table.cart thead th, .woocommerce-page table.cart thead th, .woocommerce-page #content table.cart thead th {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/* Widgets */
.top_panel_inner_style_4 .widget_shopping_cart .empty,
.top_panel_inner_style_4 .widget_shopping_cart .quantity,
.top_panel_inner_style_4 .widget_shopping_cart .quantity .amount,
.top_panel_inner_style_4 .widget_shopping_cart .total,
.top_panel_inner_style_4 .widget_shopping_cart .total .amount {
	.scheme_color(inverse_text);
}

/* Widget Product Categories */
.widget_product_categories ul.product-categories li+li,
.sidebar.widget_area .widget_product_categories ul.product-categories ul,
.widget_product_categories ul.product-categories li.has_children ul.children li {
	.scheme_bd_color(alter_bd_color);
}
.widget_product_categories ul.product-categories li,
.widget_product_categories ul.product-categories li > a {
	.scheme_color(text);
}
.widget_product_categories ul.product-categories li:hover,
.widget_product_categories ul.product-categories li:hover > a,
.widget_product_categories ul.product-categories li > a:hover {
	.scheme_color(text_dark);
}
.widget_product_categories ul.product-categories ul {
	.scheme_bg_color(alter_bg_color);
}


/*---LESS_SEPARATOR---*/


/* 13.3 Tribe Events
------------------------------------------------------- */
.tribe-events-calendar thead th {
	.scheme_bg_color(accent1);
}

/* Buttons */
a.tribe-events-read-more,
.tribe-events-button,
.tribe-events-nav-previous a,
.tribe-events-nav-next a,
.tribe-events-widget-link a,
.tribe-events-viewmore a {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
a.tribe-events-read-more:hover,
.tribe-events-button:hover,
.tribe-events-nav-previous a:hover,
.tribe-events-nav-next a:hover,
.tribe-events-widget-link a:hover,
.tribe-events-viewmore a:hover {
	.scheme_bg_color(accent1_hover);
	.scheme_color(inverse_text);
}




/* 13.4 BB Press and Buddy Press
------------------------------------------------------- */

/* Buttons */
#bbpress-forums div.bbp-topic-content a,
#buddypress button, #buddypress a.button, #buddypress input[type="submit"], #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button, #buddypress div.item-list-tabs ul li.selected a,
#buddypress .acomment-options a {
	.scheme_bg(accent1);
	.scheme_color(inverse_text);
}
#bbpress-forums div.bbp-topic-content a:hover,
#buddypress button:hover, #buddypress a.button:hover, #buddypress input[type="submit"]:hover, #buddypress input[type="button"]:hover, #buddypress input[type="reset"]:hover, #buddypress ul.button-nav li a:hover, #buddypress div.generic-button a:hover, #buddypress .comment-reply-link:hover, a.bp-title-button:hover, #buddypress div.item-list-tabs ul li.selected a:hover,
#buddypress .acomment-options a:hover {
	.scheme_bg(accent1_hover);
	.scheme_color(inverse_text);
}
#buddypress #item-nav,
#buddypress div#subnav.item-list-tabs,
#buddypress div.item-list-tabs {
	.scheme_bg_color(alter_bg_color);
}
#buddypress #item-nav li:not(.selected) a,
#buddypress div#subnav.item-list-tabs li:not(.selected) a,
#buddypress div.item-list-tabs li:not(.selected) a {
	.scheme_color(alter_text);
}
#buddypress #item-nav li:not(.selected) a:hover,
#buddypress div#subnav.item-list-tabs li:not(.selected) a:hover,
#buddypress div.item-list-tabs li:not(.selected) a:hover {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
}
#buddypress .dir-search input[type="search"], #buddypress .dir-search input[type="text"], #buddypress .groups-members-search input[type="search"], #buddypress .groups-members-search input[type="text"], #buddypress .standard-form input[type="color"], #buddypress .standard-form input[type="date"], #buddypress .standard-form input[type="datetime-local"], #buddypress .standard-form input[type="datetime"], #buddypress .standard-form input[type="email"], #buddypress .standard-form input[type="month"], #buddypress .standard-form input[type="number"], #buddypress .standard-form input[type="password"], #buddypress .standard-form input[type="range"], #buddypress .standard-form input[type="search"], #buddypress .standard-form input[type="tel"], #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="time"], #buddypress .standard-form input[type="url"], #buddypress .standard-form input[type="week"], #buddypress .standard-form select, #buddypress .standard-form textarea,
#buddypress form#whats-new-form textarea {
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
#buddypress .dir-search input[type="search"]:focus, #buddypress .dir-search input[type="text"]:focus, #buddypress .groups-members-search input[type="search"]:focus, #buddypress .groups-members-search input[type="text"]:focus, #buddypress .standard-form input[type="color"]:focus, #buddypress .standard-form input[type="date"]:focus, #buddypress .standard-form input[type="datetime-local"]:focus, #buddypress .standard-form input[type="datetime"]:focus, #buddypress .standard-form input[type="email"]:focus, #buddypress .standard-form input[type="month"]:focus, #buddypress .standard-form input[type="number"]:focus, #buddypress .standard-form input[type="password"]:focus, #buddypress .standard-form input[type="range"]:focus, #buddypress .standard-form input[type="search"]:focus, #buddypress .standard-form input[type="tel"]:focus, #buddypress .standard-form input[type="text"]:focus, #buddypress .standard-form input[type="time"]:focus, #buddypress .standard-form input[type="url"]:focus, #buddypress .standard-form input[type="week"]:focus, #buddypress .standard-form select:focus, #buddypress .standard-form textarea:focus,
#buddypress form#whats-new-form textarea:focus {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
	.scheme_bd_color(alter_bd_hover);
}

#buddypress #reply-title small a span, #buddypress a.bp-primary-action span {
	.scheme_color(accent1);
	.scheme_bg_color(inverse_text);
}

#buddypress .activity .activity-item:nth-child(2n+1) {
	.scheme_bg_color(alter_bg_color);
}

/* 13.5 Visual Composer
------------------------------------------------------ */
.vc_row {
	.self_bg_color(bg_color);
}


/* 13.6 Booking Calendar
------------------------------------------------------ */
.booking_font_custom,
.booking_day_container,
.booking_calendar_container_all {
	font-family: @p_ff;
}
.booking_weekdays_custom {
	font-family: @h1_ff;
}
.booking_month_container_custom,
.booking_month_navigation_button_custom {
	.scheme_bg_color(alter_bg_color) !important;
}
.booking_month_name_custom,
.booking_month_navigation_button_custom {
	.scheme_color(text_dark) !important;
}
.booking_month_navigation_button_custom:hover {
	.scheme_color(inverse_text) !important;
	.scheme_bg_color(accent1_hover) !important;
}


/* 13.6 LearnDash LMS
------------------------------------------------------ */
#learndash_next_prev_link > a {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
#learndash_next_prev_link > a:hover {
	.scheme_bg_color(accent1_hover);
}
.widget_area dd.course_progress div.course_progress_blue {
	.scheme_bg_color(accent1_hover);
}


/* 13.7 HTML5 Audio Player
------------------------------------------------------- */
#myplayer .ttw-music-player .progress-wrapper {
	.scheme_bg_color(alter_bg_hover);
}
#myplayer .ttw-music-player .tracklist li.track {
	.scheme_bd_color(bd_color);
}
#myplayer .ttw-music-player .tracklist,
#myplayer .ttw-music-player .buy,
#myplayer .ttw-music-player .description,
#myplayer .ttw-music-player .artist,
#myplayer .ttw-music-player .artist-outer {
	.scheme_color(text);
}
#myplayer .ttw-music-player .player .title,
#myplayer .ttw-music-player .tracklist li:hover {
	.scheme_color(text_dark);
}

/* 15. Shortcodes
-------------------------------------------------------------- */

/* Accordion */
.sc_accordion .sc_accordion_item{
	.scheme_bd_color(bd_color);
}
.sc_accordion .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
	.scheme_color(alter_light);
}
.sc_accordion .sc_accordion_item .sc_accordion_title.ui-state-active {
	.scheme_color(text_dark);
}
.sc_accordion .sc_accordion_item .sc_accordion_title.ui-state-active .sc_accordion_icon_opened {
	.scheme_color(accent1);
}
.sc_accordion .sc_accordion_item .sc_accordion_title:hover {
	.scheme_color(accent1);
}
.sc_accordion_icon.sc_accordion_icon_closed:before,
.sc_accordion_icon.sc_accordion_icon_closed:after{
	.scheme_color(bd_color);
}
.sc_accordion_title:hover .sc_accordion_icon.sc_accordion_icon_closed:before,
.sc_accordion_title:hover .sc_accordion_icon.sc_accordion_icon_closed:after,
.ui-state-active .sc_accordion_icon.sc_accordion_icon_closed:before,
.ui-state-active .sc_accordion_icon.sc_accordion_icon_closed:after{
	.scheme_color(accent1);
}


/* Audio */
.sc_audio .sc_audio_author_name{
	.scheme_color(text_light);
}
.sc_audio .sc_audio_title {
	.scheme_color(text_dark);
}
.sc_audio.sc_audio_info{
	.scheme_bd_color(accent1);
}
.sc_audio .mejs-controls .mejs-button:before{
	.scheme_color(text_dark);
}
.sc_audio .mejs-controls .mejs-button:hover:before{
	.scheme_color(accent1);
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.sc_button {
	.button_font();
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button{
	border:none;
	.scheme_bg_color(accent1);
	.scheme_color(inverse_light);
}
.sc_button.sc_button_style_filled{
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
	.scheme_color(inverse_light);
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	.scheme_bg_color(accent1_hover);
	.scheme_bd_color(accent1_hover);
	.scheme_color(inverse_text);
}
.sc_button.sc_button_style_border {
	.scheme_bg_color(accent1,0);
	.scheme_color(accent1);
}
.sc_item_title em,
.sc_title em,  
.esg-grid em{
	.scheme_bg_color(accent1);
	.scheme_color(inverse_light);
}


/* Blogger */
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date { 
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_text);
}
.sc_blogger.layout_date .sc_blogger_item .sc_blogger_date .year:before {
	.scheme_bd_color(inverse_text);
}
.sc_blogger.layout_date .sc_blogger_item::before {
	.scheme_bg_color(alter_bg_color);
}
.sc_blogger_item.sc_plain_item {
	.scheme_bg_color(alter_bg_color);
}
.sc_blogger.layout_polaroid .photostack nav span.current {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_blogger.layout_polaroid .photostack nav span.current.flip {
	.scheme_bg_color(accent1_hover);
}
.isotope_item_masonry .post_info a{
	.scheme_color(text_light);
}
.isotope_item_masonry .post_info a:hover{
	.scheme_color(accent1);
}
.isotope_item_masonry .post_info .post_info_counters .post_counters_item:before{
	.scheme_color(accent1);
}

/* Call to Action */
.sc_call_to_action .sc_call_to_action_descr {
	.scheme_color(text_dark);
}
.sc_call_to_action_accented {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_item_descr{
	.scheme_color(text_light);	
}
.sc_call_to_action_accented .sc_item_title,
.sc_call_to_action_accented .sc_item_subtitle,
.sc_call_to_action_accented .sc_item_descr {
	.scheme_color(inverse_text);
}
.sc_call_to_action_accented .sc_item_button > a {
	.scheme_color(text_dark);
	.scheme_bg_color(inverse_text);
	.scheme_bd_color(inverse_text);
}
.sc_call_to_action_accented .sc_item_button > a.sc_button_style_border  {
	.scheme_color(inverse_text);
	.scheme_bd_color(inverse_text);
	.scheme_bg_color(inverse_text,0);
}
.sc_call_to_action_accented .sc_item_button > a:before {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}

/* Chat */
.sc_chat:after {
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.sc_chat_inner {
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}
.sc_chat_inner a {
	.scheme_color(text_dark);
}
.sc_chat_inner a:hover {
	.scheme_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* Clients */
.sc_clients_style_clients-2 .sc_client_image .sc_client_hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(text_dark, 0.8);
}
.sc_clients_style_clients-2 .sc_client_title,
.sc_clients_style_clients-2 .sc_client_title a {
	.scheme_color(inverse_text);
}
.sc_clients_style_clients-2 .sc_client_title a:hover {
	.scheme_color(accent1);
}
.sc_clients_style_clients-2 .sc_client_description:before,
.sc_clients_style_clients-2 .sc_client_position {
	.scheme_color(accent1);
}

/* Contact form */
.sc_form .sc_form_button button { 
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_form_style_form_1 .sc_form_button button { 
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_form .sc_form_address_label,
.sc_form .sc_form_item > label {
	.scheme_color(text_dark);
}
.sc_form .sc_form_item .sc_form_element input[type="radio"] + label:before,
.sc_form .sc_form_item .sc_form_element input[type="checkbox"] + label:before {
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.sc_form_select_container {
	.scheme_bg_color(alter_bg_color);
}

/* picker */
.sc_form .picker {
	.scheme_color(alter_text);
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.picker__month,
.picker__year {
	.scheme_color(text_dark);
}
.sc_form .picker__nav--prev:before,
.sc_form .picker__nav--next:before {
	.scheme_color(alter_text);
}
.sc_form .picker__nav--prev:hover:before,
.sc_form .picker__nav--next:hover:before {
	.scheme_color(text_dark);
}
.sc_form .picker__nav--disabled,
.sc_form .picker__nav--disabled:hover,
.sc_form .picker__nav--disabled:before,
.sc_form .picker__nav--disabled:before:hover {
	.scheme_color(alter_light);
}
.sc_form table.picker__table th {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_form .picker__day--infocus {
	.scheme_color(text_dark);
}
.sc_form .picker__day--today,
.sc_form .picker__day--infocus:hover,
.sc_form .picker__day--outfocus:hover,
.sc_form .picker__day--highlighted:hover,
.sc_form .picker--focused .picker__day--highlighted {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
}
.sc_form .picker__day--disabled,
.sc_form .picker__day--disabled:hover {
	.scheme_color(alter_light);
}
.sc_form .picker__day--highlighted.picker__day--disabled,
.sc_form .picker__day--highlighted.picker__day--disabled:hover {
	.scheme_color(alter_light);
	.scheme_bg_color(alter_bg_hover) !important;
}
.sc_form .picker__day--today:before,
.sc_form .picker__button--today:before,
.sc_form .picker__button--clear:before,
.sc_form button:focus {
	.scheme_bd_color(accent1);
}
.sc_form .picker__button--close:before {
	.scheme_color(accent1);
}
.sc_form .picker--time .picker__button--clear:hover,
.sc_form .picker--time .picker__button--clear:focus {
	.scheme_bg_color(accent1_hover);
}
.sc_form .picker__footer {
	.scheme_bd_color(alter_bd_color);
}
.sc_form .picker__button--today,
.sc_form .picker__button--clear,
.sc_form .picker__button--close {
	.scheme_color(alter_text);
}
.sc_form .picker__button--today:hover,
.sc_form .picker__button--clear:hover,
.sc_form .picker__button--close:hover {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover) !important;
}
.sc_form .picker__button--today[disabled],
.sc_form .picker__button--today[disabled]:hover {
	.scheme_color(alter_light);
	.scheme_bg_color(alter_bg_hover);
	.scheme_bd_color(alter_bg_hover);
}
.sc_form .picker__button--today[disabled]:before {
	.scheme_bdt_color(alter_light);
}

/* Time picker */
.sc_form .picker__list-item {
	.scheme_color(alter_text);
	.scheme_bd_color(alter_bd_color);
}
.sc_form .picker__list-item:hover,
.sc_form .picker__list-item--highlighted,
.sc_form .picker__list-item--highlighted:hover,
.sc_form .picker--focused .picker__list-item--highlighted,
.sc_form .picker__list-item--selected,
.sc_form .picker__list-item--selected:hover,
.sc_form .picker--focused .picker__list-item--selected {
	.scheme_color(text_dark);
	.scheme_bg_color(alter_bg_hover);
	.scheme_bd_color(alter_bd_hover);
}
.sc_form .picker__list-item--disabled,
.sc_form .picker__list-item--disabled:hover,
.sc_form .picker--focused .picker__list-item--disabled {
	.scheme_color(alter_light);
	.scheme_bg_color(alter_bg_color);
	.scheme_bd_color(alter_bd_color);
}


/* Countdown Style 1 */
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits,
.sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
	.scheme_color(accent1);
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_label {
	.scheme_color(accent1);
}

/* Countdown Style 2 */
.sc_countdown.sc_countdown_style_2 .sc_countdown_separator {
	.scheme_color(accent1);
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_digits span {
	.scheme_bg_color(accent1);
}
.sc_countdown.sc_countdown_style_2 .sc_countdown_label {
	.scheme_color(accent1);
}

/* Dropcaps */
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item:before {
	.scheme_color(accent1);
}
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcaps_item {
	.scheme_color(inverse_text);
}
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item:before {
	.scheme_color(accent1);
}
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcaps_item {
	.scheme_color(accent1);
}
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcaps_item:before {
	.scheme_color(text_light);
}
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcaps_item {
	.scheme_color(text_light);
}
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcaps_item:before {
	.scheme_color(text_light);
}
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcaps_item {
	.scheme_color(text_dark);
}
.sc_dropcaps.sc_dropcaps_style_5 .sc_dropcaps_item:before {
	.scheme_color(accent1_hover);
}
.sc_dropcaps.sc_dropcaps_style_5 .sc_dropcaps_item {
	.scheme_color(inverse_text);
}
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcaps_item:before {
	.scheme_color(accent1_hover);
}
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcaps_item {
	.scheme_color(accent1_hover);
}

/* Emailer */
.sc_emailer {
	.scheme_bd_color(alter_bd_color);
}
.sc_emailer.style-2 .sc_emailer_input{
	.scheme_bd_color(inverse_text);
	.scheme_color(inverse_text);
}
.sc_emailer.style-2 .sc_emailer_input::-webkit-input-placeholder{
	.scheme_color(inverse_text, 0.7);
}
.sc_emailer.style-2 .sc_emailer_button{
	.scheme_bd_color(inverse_text);
	.scheme_color(inverse_text);
}
.sc_emailer.style-2 .sc_emailer_button:hover{
	.scheme_bg_color(inverse_text);
	.scheme_color(text_dark);
}

/* Events */
.sc_events_item .sc_events_item_readmore {
	.scheme_color(text_dark);
}
.sc_events_item .sc_events_item_readmore span {
	.scheme_color(accent1);
}
.sc_events_item .sc_events_item_readmore:hover,
.sc_events_item .sc_events_item_readmore:hover span {
	.scheme_color(accent1_hover);
}
.sc_events_style_events-1 .sc_events_item {
	.scheme_bg_color(bg_color);
	.scheme_color(text);
}
.sc_events_style_events-2 .sc_events_item {
	.scheme_bd_color(bd_color);
}
.sc_events_style_events-2 .sc_events_item_date {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.sc_events_style_events-2 .sc_events_item_time:before,
.sc_events_style_events-2 .sc_events_item_details:before {
	.scheme_bg_color(bd_color);
}

/* Google map */
.sc_googlemap_content {
	.scheme_bg_color(bg_color);
}

/* Highlight */
.sc_highlight_style_1 {
	.scheme_color(accent1);
}
.sc_highlight_style_2 {
	.scheme_bg_color(text_dark);
	.scheme_color(inverse_text);
}
.sc_highlight_style_3 {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_light);
}



/* Icon */
.sc_icon_hover:hover,
a:hover .sc_icon_hover {
	.scheme_color(inverse_text) !important;
	.scheme_bg_color(accent1) !important; 
}

.sc_icon_shape_round.sc_icon,
.sc_icon_shape_square.sc_icon {	
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_text);
}

.sc_icon_shape_round.sc_icon:hover,
.sc_icon_shape_square.sc_icon:hover,
a:hover .sc_icon_shape_round.sc_icon,
a:hover .sc_icon_shape_square.sc_icon {	
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}


/* Image */
figure figcaption,
.sc_image figcaption {
	.scheme_bg_color(accent1, 0.6);
}


/* Infobox */


/* List */
.sc_list_style_iconed li:before,
.sc_list_style_iconed .sc_list_icon {
	.scheme_color(accent1);
}
.sc_list_style_iconed li .sc_list_title {
	.scheme_color(text_dark);
}
.sc_list_style_iconed li a:hover .sc_list_title {
	.scheme_color(accent1_hover);
}


/* Line */
.sc_line {
	.scheme_bd_color(bd_color);
}
.sc_line .sc_line_title {
	.scheme_color(text_light);
	.scheme_bg_color(bg_color);
}

/* Popup */
.sc_popup:before {
	.scheme_bg_color(accent1);
}


/* Price */
.sc_price .sc_price_currency, .sc_price .sc_price_money, .sc_price .sc_price_penny {
	.scheme_color(text_dark);
}
.sc_price .sc_price_info {
	.scheme_color(text_light);
}

/* Price block */
.sc_price_block,
.sc_price_block .sc_price_block_money * {
	.scheme_color(inverse_text);
}
.sc_price_block.sc_price_block_style_1 {
	.scheme_bg_color(accent1);
}
.sc_price_block.sc_price_block_style_1 .sc_price_block_link .sc_button {
	.scheme_bg_color(accent1_hover);
}
.sc_price_block.sc_price_block_style_2 {
	.scheme_bg_color(accent1_hover);
}
.sc_price_block.sc_price_block_style_3,
.sc_price_block.sc_price_block_style_3 .sc_price_block_money * {
	.scheme_color(alter_text);
	.scheme_bg_color(alter_bg_hover);
}
.sc_price_block.sc_price_block_style_3 .sc_price_block_title {
	.scheme_color(text_dark);
}

/* Promo */
.sc_promo_icon,
.sc_promo_subtitle,
.sc_promo_title,
.sc_promo_descr  {
	.scheme_color(text_dark);
}
.sc_promo_buttons .sc_button {   
	.scheme_bg_color(accent1_hover);
	.scheme_bd_color(accent1_hover);
	.scheme_color(inverse_text);   
}

.sc_promo_style_3 .sc_promo_subtitle{
	.scheme_color(accent1);
}
.sc_promo_style_3 .sc_promo_buttons .sc_button{
	.scheme_bg_color(accent1);
	.scheme_bd_color(accent1);
	.scheme_color(inverse_link)
}

.sc_promo_style_2 .sc_promo_title{
	.scheme_color(inverse_dark);
}
.sc_promo_style_2 .sc_promo_buttons .sc_button{
	.scheme_bg_color(accent1, 0);
	.scheme_bd_color(accent1, 0);
	.scheme_color(accent1);
}


/* ThemeREX - Recent News */
.sc_recent_news_header {
	.scheme_bd_color(text_dark);
}
.sc_recent_news_header_category_item_more {
	.scheme_color(accent1);
}
.sc_recent_news_header_more_categories {
	.scheme_bd_color(alter_bd_color);
	.scheme_bg_color(alter_bg_color);
}
.sc_recent_news_header_more_categories > a {
	.scheme_color(alter_link);
}
.sc_recent_news_header_more_categories > a:hover {
	.scheme_color(alter_hover);
	.scheme_bg_color(alter_bg_hover);
}
.sc_recent_news .post_item .post_title {
	.h5_font();
}
.sc_recent_news .post_item h6.post_title {
	.h6_font();
}
.sc_recent_news .post_counters_item,
.sc_recent_news .post_counters .post_edit a {
	.scheme_bg_color(alter_bg_color);
}
.sidebar .sc_recent_news .post_counters_item,
.sidebar .sc_recent_news .post_counters .post_edit a {
	.scheme_bg_color(bg_color);
}
.sc_recent_news .post_counters .post_edit a {
	.scheme_color(text_dark);
}
.sc_recent_news_style_news-magazine .post_accented_border {
	.scheme_bd_color(bd_color);
}
.sc_recent_news_style_news-excerpt .post_item {
	.scheme_bd_color(bd_color);
}


/* Section */
.sc_section_inner {
	.scheme_color(text);
}


/*---LESS_SEPARATOR---*/


/* Services */
.sc_services_item .sc_services_item_readmore {
	.scheme_color(text_dark);
}
.sc_services_item .sc_services_item_readmore span {
	.scheme_color(accent1);
}
.sc_services_item .sc_services_item_readmore:hover,
.sc_services_item .sc_services_item_readmore:hover span {
	.scheme_color(accent1_hover);
}
.sc_services_style_services-1 .sc_services_item {
	.scheme_bg_color(bg_color);
	.scheme_color(text);
}
.sc_services_style_services-1 .sc_icon,
.sc_services_style_services-2 .sc_icon {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_services_style_services-1 .sc_icon:hover,
.sc_services_style_services-1 a:hover .sc_icon,
.sc_services_style_services-2 .sc_icon:hover,
.sc_services_style_services-2 a:hover .sc_icon {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_services_style_services-3 a:hover .sc_icon,
.sc_services_style_services-3 .sc_icon:hover {
	.scheme_color(accent1);
	.scheme_bg_color(bg_color);
}
.sc_services_style_services-3 a:hover .sc_services_item_title {
	.scheme_color(accent1);
}
.sc_services_style_services-4 .sc_icon {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_services_style_services-4 .sc_services_item_title {
	.scheme_color(text_dark);
}
.sc_services_style_services-4 a:hover .sc_icon,
.sc_services_style_services-4 .sc_icon:hover {
	.scheme_bg_color(accent1_hover);
}
.sc_services_style_services-4 a:hover .sc_services_item_title {
	.scheme_color(accent1);
}
.sc_services_style_services-5 .sc_icon {
	.scheme_bd_color(accent1);
}
.sc_services_style_services-5 .sc_icon {
	.scheme_color(accent1);
}
.sc_services_style_services-5 .sc_services_item_title a:hover{
	.scheme_color(accent1);
}


/* Scroll controls */
.sc_scroll_controls_wrap a {
	.scheme_bg_color(accent1);
	.scheme_color(inverse_text);
}
.sc_scroll_controls_type_side .sc_scroll_controls_wrap a {
	.scheme_bg_color(accent1, 0.8);
}
.sc_scroll_controls_wrap a:hover {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1_hover);
}
.sc_scroll_bar .swiper-scrollbar-drag:before {
	.scheme_bg_color(accent1);
}
.sc_scroll .sc_scroll_bar {
	.scheme_bd_color(alter_bg_color);
}

/* Skills */
.sc_skills_bar .sc_skills_item {
	.scheme_bg_color(bd_color);
}
.sc_skills_bar .sc_skills_info .sc_skills_label{
	.scheme_color(text_dark);
}
.sc_skills_bar.sc_skills_horizontal .sc_skills_total{
	.scheme_color(text_light);
}
.sc_skills_counter .sc_skills_item .sc_skills_icon {
	.scheme_color(accent1);
}
.sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
	.scheme_color(accent1_hover);
}
.sc_skills_counter .sc_skills_item .sc_skills_info {
	.scheme_color(text_dark);
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
	.scheme_bd_color(accent1);
}

.sc_skills_legend_title, .sc_skills_legend_value {
	.scheme_color(text_dark);
}

.sc_skills_counter .sc_skills_item.sc_skills_style_1 {
	.scheme_bg_color(alter_bg_color);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
	.scheme_bg_color(alter_bg_hover);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
	.scheme_color(text_dark);
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
	.scheme_bg_color(alter_bd_color);
}
.sc_skills_bar .sc_skills_item .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_skills_circle .sc_skills_total,
.sc_skills_circle .sc_skills_label{
	.scheme_color(text_dark);
}

/* Slider */
.sc_slider_controls_wrap a {
	.scheme_color(accent1);
}
.sc_slider_controls_wrap a:hover {
	.scheme_color(inverse_text);
}
.sc_slider_controls_bottom .sc_slider_controls_wrap a{
	.scheme_color(bd_color);
}
.sc_slider_controls_bottom .sc_slider_controls_wrap a:hover{
	.scheme_color(accent1);
}
.sc_slider_swiper .sc_slider_pagination_wrap .swiper-pagination-bullet-active,
.sc_slider_swiper .sc_slider_pagination_wrap span:hover {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}
.sc_slider_swiper .sc_slider_info {
	.scheme_bg_color(accent1, 0.8) !important;
}
.sc_slider_pagination.widget_area .post_item + .post_item {
	.scheme_bd_color(bd_color);
}
.sc_slider_pagination_over .sc_slider_pagination {
	.scheme_bg_color(alter_bg_color, 0.8);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span {
	.scheme_bd_color(bd_color);
}
.sc_slider_pagination_over .sc_slider_pagination_wrap span:hover,
.sc_slider_pagination_over .sc_slider_pagination_wrap .swiper-pagination-bullet-active {
	.scheme_bd_color(accent1);
	.scheme_bg_color(accent1);
}
.sc_slider_pagination_over .sc_slider_pagination .post_title {
	.scheme_color(text_dark);
}
.sc_slider_pagination_over .sc_slider_pagination .post_info {
	.scheme_color(alter_text);
}
.sc_slider_pagination_area .sc_slider_pagination .post_item.active {
	.scheme_bg_color(alter_bg_color) !important;
}




/* Socials */
.sc_socials.sc_socials_type_icons a {
	.scheme_color(text);
}
.sc_socials.sc_socials_type_icons a:hover {
	.scheme_color(accent1);
}
.sc_socials.sc_socials_share.sc_socials_dir_vertical .sc_socials_item a {
	.scheme_bg_color(alter_bg_color);
}

/* Tabs */
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a {
	.scheme_color(text_dark);
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a:hover {
	.scheme_color(accent1);
}
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
	.scheme_bg_color(accent1);
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a:hover,
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.ui-state-active a,
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.sc_tabs_active a {
	.scheme_color(accent1);
}


/*---LESS_SEPARATOR---*/


/* Team */
.sc_team_item .sc_team_item_info .sc_team_item_title a {
	.scheme_color(text_dark);
}
.sc_team_item .sc_team_item_info .sc_team_item_title a:hover {
	.scheme_color(accent1);
}
.sc_team_item .sc_team_item_info .sc_team_item_position {
	.scheme_color(text_light);
}
.sc_team_style_team-1 .sc_team_item_info{
	.scheme_bd_color(accent1);
	.scheme_color(text);
}
.sc_team.sc_team_style_team-1 .sc_socials_item a {
	.scheme_color(inverse_link);
	.scheme_bd_color(inverse_link);
}
.sc_team.sc_team_style_team-1 .sc_socials_item a:hover {
	.scheme_color(accent1_hover);
	.scheme_bd_color(accent1_hover);
}
.sc_team.sc_team_style_team-1 .sc_team_item_avatar .sc_team_item_hover {
	.scheme_bg_color(accent1, 0.8);
}


/* Testimonials */
.sc_testimonial_item{
	.scheme_bg_color(bg_color);
}
.sc_testimonials {
	.scheme_color(text);
}
.sc_testimonial_author_name {
	.scheme_color(text_dark);
}
.sc_testimonial_author_position {
	.scheme_color(text_light);
}
.sc_testimonials_style_testimonials-2 .sc_testimonial_item{
	.scheme_bg_color(bg_color,0);
}

/* Title */
.sc_title_icon {
	.scheme_color(accent1);
}
.sc_title_underline::after {
	.scheme_color(accent1);
}
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after {
	.scheme_bg_color(text_dark);
}

/* Toggles */
.sc_toggles .sc_toggles_item .sc_toggles_title {
	.scheme_bd_color(bd_color);
}
.sc_toggles .sc_toggles_item .sc_toggles_title .sc_toggles_icon {
	.scheme_color(alter_light);
	.scheme_bg_color(alter_bg_color);
}
.sc_toggles .sc_toggles_item .sc_toggles_title.ui-state-active {
	.scheme_color(accent1);
	.scheme_bd_color(accent1);
}
.sc_toggles .sc_toggles_item .sc_toggles_title.ui-state-active .sc_toggles_icon_opened {
	.scheme_color(inverse_text);
	.scheme_bg_color(accent1);
}
.sc_toggles .sc_toggles_item .sc_toggles_title:hover {
	.scheme_color(accent1_hover);
	.scheme_bd_color(accent1_hover);
}
.sc_toggles .sc_toggles_item .sc_toggles_title:hover .sc_toggles_icon_opened {
	.scheme_bg_color(accent1_hover);
}
.sc_toggles .sc_toggles_item .sc_toggles_content {
	.scheme_bd_color(bd_color);
}


/* Tooltip */
.sc_tooltip_parent{
	.scheme_color(text_dark);
}
.sc_tooltip_parent .sc_tooltip,
.sc_tooltip_parent .sc_tooltip:before,
.sc_tooltip_parent:after {
	.scheme_bg_color(text_dark);
}


/* Twitter */
.sc_twitter {
	.scheme_color(text);
}
.sc_twitter .sc_slider_controls_wrap a {
	.scheme_color(inverse_text);
}

/* Common styles (title, subtitle and description for some shortcodes) */
.sc_item_subtitle {
	.scheme_color(accent1);
}
.sc_item_button > a:before {
	.scheme_color(accent1);
	.scheme_bg_color(inverse_text);
}
.sc_item_button > a:hover:before {
	.scheme_color(accent1_hover);
}


/* Promo */
.sc_columns .sc_border .sc_column_item_inner {
	.scheme_bd_color(accent1);
}

/* Sidebar */
.sc_sidebar .widget_area_inner{
	.scheme_bg_color(bg_color, 0);
}

.sc_sidebar .woocommerce .star-rating:before,
aside.woocommerce ul.product_list_widget .star-rating:before {
	.scheme_color(bd_color);
}
.sc_sidebar .woocommerce .star-rating span:before,
aside.woocommerce ul.product_list_widget .star-rating span:before {
	.scheme_color(text_dark);
}

.footer_wrap .widget_area_inner .widget_calendar .weekday, 
.footer_wrap .widget_area_inner .widget_calendar td .day_wrap,
.footer_wrap .widget_area_inner .widget_calendar .month_cur a,
.footer_wrap .widget_rss,
.footer_wrap .widget_area_inner .widget_product_tag_cloud a, 
.footer_wrap .widget_area_inner .widget_tag_cloud a{
    .scheme_color(inverse_text);
}
.footer_wrap .widget_area_inner .widget_product_tag_cloud a:hover, 
.footer_wrap .widget_area_inner .widget_tag_cloud a:hover{
	.scheme_color(accent1);
}
.widget_flickr .flickr_badge_image a:after{
	.scheme_bg_color(accent1_hover);
}
/* Esg Grid */ 
.esg-grid .esg-filters .esg-filterbutton,
.esg-grid .esg-filters .esg-sortbutton,
.esg-grid .esg-filters .esg-sortbutton-order,
.esg-grid .esg-filters .esg-cartbutton a {
	.scheme_color(text_dark) !important;
}
.esg-grid .esg-filters .esg-cartbutton a,
.esg-grid .esg-filters .esg-sortbutton-order,
.esg-grid .esg-filters .esg-sortbutton{
	.scheme_bd_color(text_dark) !important;
}
.esg-grid .esg-filters .esg-filterbutton{
	.scheme_color(accent1);
	.scheme_bd_color(inverse_text);
}
.esg-grid .esg-filters .esg-filterbutton.selected,
.esg-grid .esg-filters .esg-filterbutton:hover{
	.scheme_color(text_dark) !important;
	.scheme_bd_color(text_dark) !important;
}
.esg-grid .esg-filters .esg-cartbutton a i:before{
	.scheme_color(accent1) !important;
}
