/*
 Theme Name:   Axiom Welldone Child
 Theme URI:    http://welldone.axiomthemes.com/
 Description:  Axiom Welldone Child Theme
 Author:       Axiom Themes
 Author URI:   http://axiomthemes.net/
 Template:     axiom-welldone
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, microformats, post-formats, theme-options, threaded-comments, translation-ready
 Text Domain:  axiom-welldone-child
*/

.woocommerce-bacs-bank-details h3,
.woocommerce-bacs-bank-details ul
{
    /* width : 33%; */
    /* float: left; */
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 300px;
}

.woocommerce-bacs-bank-details h2{
    position: absolute;
    top: 0;

}

/* .woocommerce-bacs-bank-details ul::after{
    content : '';
    display: inline;
    clear : both;
} */

.woocommerce-bacs-bank-details {
    -webkit-columns: 300px;
    -moz-columns: 300px;
    columns: 300px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    padding-top: 62px;
    position: relative;
}

.woocommerce-notice--success{
    font-size: 42px;
    font-weight: 600;
    color: #28a745;
}

.woocommerce ul.order_details li:last-of-type{
    margin: 0;
    padding: 0;
}
.woocommerce .wc-bacs-bank-details-account-name{
    font-weight: 700;
    font-size: 14px;
}
.woocommerce ul.order_details li, .woocommerce ul.order_details li strong{
        font-weight: 600;
}
.woocommerce .order_details li strong, .woocommerce-page .order_details li strong{
        font-weight: 600;
}

.pwb-brands-in-loop {
    padding-bottom : 10px;
}
.pwb-brands-in-loop span a::before {
    content: '( ';
    display: inline-block;
}
.pwb-brands-in-loop span a::after {
    content: ' )';
    display: inline-block;
}

.pwb-brands-in-loop span a {
    font-size : 14px;
}

.scheme_original .widget_area .widget_title{
    margin: 0 -2.9em 15px;
    padding: 0.893em 2.8em;
    background: #ff0000;
    color: #fff !important;
}

.scheme_original .widget_product_categories ul.product-categories li>a{
    text-transform: uppercase;
}
.sidebar aside+aside{
    padding-top : 0;
}

.search-results .post_item_excerpt:not([class*="column"]) + .post_item_excerpt:not([class*="column"]){
    display: flex;
}

.search-results .post_featured{
    width: 30%;
    padding-right: 35px;
}

.search-results  .post_item_excerpt .post_content{
    width: 70%;
}
